body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    background-color: rgb(255, 89, 0);
    color: rgb(33, 198, 58);
}
nav a,
nav a:visited{
    color: rgb(238, 229, 227);
    text-decoration: none;
}

button